<br>
<div class="row">
  <table class="table">
    <thead>
      <th>No</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Country</th>
      <th>City</th>
      <th>Birth Year</th>
      <th>Password</th>
      <th>Statu</th>
      <th>Operation</th>
    </thead>
    <tbody>
      <tr ng-repeat="person in personList">
        <td>{{personList.indexOf(person)+1}}</td>
        <td>{{person.name.toUpperCase()}}</td>
        <td>{{person.surname.toUpperCase()}}</td>
        <td>{{person.country.toUpperCase()}}</td>
        <td>{{person.city.toUpperCase()}}</td>
        <td>{{person.birthYear}}</td>
        <td>{{person.password}}</td>
        <td>{{person.isPasive.toUpperCase()   }}</td>
        <td>
          <input type="button" name="delete" value="Delete" class="btn btn-danger" ng-click="removePerson($index)">
          <input type="button" name="edit" value="Edit" class="btn btn-info">
        </td>
      </tr>
    </tbody>
  </table>
</div>
