  <div class="card ">
    <div class="card-body">
      <form ng-submit="addPerson(newperson)">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="newperson.name" placeholder="Name">
          </div>
          <div class="form-group col-md-6">
            <label>Surname</label>
            <input type="text" class="form-control" ng-model="newperson.surname" placeholder="Surname">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Country</label>
            <select class="form-control" ng-model="newperson.country" ng-change="changeCountry(newperson.country)">
              <option value="" disabled selected>Select your country</option>
              <option ng-repeat="country in countryList" value="{{country.countryID}}">{{country.name}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label>City</label>
            <select class="form-control" ng-model="newperson.city">
              <option value="" disabled selected>Select your City</option>
              <option ng-repeat="city in cityList" value="{{city.name}}">{{city.name}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label>Birth Year</label>
            <select class="form-control" ng-model="newperson.birthYear">
              <option value="" disabled selected>Select your BirthYear</option>
              <option ng-repeat="birth in birthYearList" value="{{birth.birthYear}}">{{birth.birthYear}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="newperson.password" placeholder="Password">
          </div>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
      </form>
    </div>
  </div>
